@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots {
    bottom: -33px !important;
}

.slick-dots li button:before{
    font-size: 10px !important;
    color: green !important;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}
